*{
  box-sizing: border-box;
  margin: 0 auto;
}

body{
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  max-height: 100%;
  overflow: hidden;
}
header{
  margin: 0 0;
  height: 10vh;
  width: 100%;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
header button{
  width: 20vw;
  height: 6vh;
}
button:disabled{
  background-color: #555;
  font-weight: bold;
  color: #f55;
  border: 2px inset red;
}
#smilie{
  
  width: 25vw;
  height: 8vh;
}
#smile{
  text-align: center;
  margin: 0 auto;
  font-size: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(90deg);
  color: #000;
  background-color: #ff0;
  border: 1px solid #991;
  border-radius: 100%;
}
#flag-button{
  font-weight: bold;
  color: #f55;
  
}

form{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
form>*{
  width: 100%;
  font-size: 2rem;
}
form>button{
  margin-top: 5px;
  width: 50%;
}

#board{
  width: 98%;
  height: 70vh;
  border: 10px solid darkgray;
  background-color: lightgray;
  margin: 0 auto;
  
  display: flex;
  flex-wrap: wrap;
}

/*tiles*/
#board div{
  width: 12.5%;
  height: 12.5%;
  border: 3px outset whitesmoke;
  
  /* text */
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*socials*/
footer{
  display: none;
}
footer .socials{
}
footer .socials ul{
  list-style: none;
}
footer ul::before{
  content: "《";
  display: block;
  transform: rotate(90deg);
}
footer ul::before:hover ul{
}
footer ul li{
  height: 30px;
}
footer ul a{
  text-decoration: none;
  color: black;
}

/*giving different colors for different numbers*/
.x1{
  color: blue;
}
.x2{
  color: green;
}
.x3{
  color: red;
}
.x4{
  color: aqua;
}
.x5{
  color: fuchsia;
}
.x6{
  color: orange;
}
